html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
	  font-family: 'Nunito', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/* Variables:BEGIN */
.font-color--yellow {
	color: #FBB224;
}

.bg-color--violet {
	background-color: #B787C6;
}

.bg-color--yellow {
	background-color: #FBB224;
}

.bg-color--dark {
	background-color: #333333;
}
/* Variables:THE END */

/* Fonts:BEGIN */
h1 {
	font-size: 70px;
	font-weight: 200;
	color: #333333;
	letter-spacing: -1px;
	line-height: 76px;
}

h3 {
	font-size: 40px;
	font-weight: 300;
	color: #333333;
	letter-spacing: 0;
	line-height: 46px;
}

h5 {
	font-size: 22px;
	font-weight: 400;
	color: #333333;
	letter-spacing: 0;
	line-height: 28px;
}

p {
	font-size: 18px;
	font-weight: 400;
	color: #333333;
	letter-spacing: 0;
	line-height: 26px;
}

.item-big-title {
	font-size: 55px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 56px;
}

.item-big-h-title {
	font-size: 30px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 36px;
}

.item-small-title {
	font-size: 22px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 28px;
}

.item-hidden-title {
  font-size: 22px;
	font-weight: 400;
	color: #333333;
	letter-spacing: 0;
	line-height: 28px;
}

.item-hidden-date {
  font-size: 30px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0;
  line-height: 36px;
}

.item-small figcaption .item-hidden-title {
  font-size: 18px;
}

.item-small figcaption .item-hidden-date {
  font-size: 22px;
}

small {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 16px;
}
/* Fonts:THE END */

article {
	max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

header {
	padding: 100px 0;
}

header h5 {
  padding-bottom: 25px;
}

section {
	display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  height: 100%;
}

.list{
    max-width: 100%;
}

.list-medium {
 max-width: 100%;
}

.item-small {
  max-width: 140px;
  width: 140px;
  max-height: 140px;
  height: 140px;
  position: relative;
  margin: 0 0 10px 10px;
	padding: 25px 25px;
}

.item-small .item-small-title {
	padding-top: 25px;
	color: #ffffff;
}

.item-big {
  max-width: 320px;
  width: 320px;
  max-height: 310px;
  height: 310px;
  position: relative;
	padding: 40px 35px;
  margin: 0 0 10px 10px;
}

.item-big .item-big-title {
	padding-top: 60px;
}

.item-big-h {
  width: 320px;
  max-width: 320px;
  height: 140px;
  max-height: 140px;
  position: relative;
	padding: 25px 35px;
  margin: 0 0 10px 10px;
}

.item-big-h .item-big-h-title {
	color: #ffffff;
	padding-top: 35px;
}

figcaption {
  display: flex;
}

.item-big figcaption {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 95%;
  height: 94%;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgba(255,255,255,0.95);
  transition: all 0.3s ease-in;
}

.item-big-h figcaption {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 95%;
  height: 89%;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgba(255,255,255,0.95);
  transition: all 0.3s ease-in;
}

.item-small figcaption {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90%;
  height: 89%;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgba(255,255,255,0.95);
  transition: all 0.3s ease-in;
}

.item-small:hover figcaption, .item-big:hover figcaption, .item-big-h:hover figcaption {
  opacity: 1;
  transform: translateY(0%);
}

button {
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	color: #333333;
	padding: 14px;
	border: 1px solid #333333;
	margin-top: 24px;
  background-color: #ffffff;
}

button:hover{
	background-color: #dddddd;
}

/* Footer:BEGIN */
footer {
    margin: 0 auto;
    max-width: 1000px;
}

.section-footer {
	display: flex;
}

.column-left {
  align-self: flex-end;
  flex: 2;
  text-align: right;
}

.column-left img {
	width: 67px;
}

.column-right {
  justify-content: flex-start;
  flex: 5;
}

.column-right h5 {
	padding: 100px 0 70px;
}

.column-right h3 {
	padding: 70px 0 20px;
}
/* Footer:END */

@media only screen and (max-width: 480px)  {

  .column-left {
    order: 2;
    text-align: left;
  }
}
